.b{
    text-decoration: none;
    color: white;
   padding-right: 70px;
     width: 130px;
     font-family:'Times New Roman', Times, serif;
     font-size: 25px;
     height: 40px;
     text-decoration: none;
     }
    .a{
        border-radius: 25%;
        width: 180px;
        height: 180px;
        }
        h1{
            font-size: 30px;
        }
        .c{
            height: 170px;;
            width: 160px;
            border: 50px;
            border-radius: 20%;

        }
        .d{
            height: 180px;
            width: 219px;
            border-radius: 10px;
        }
        .aa{
            background-color: grey;height: 50px; width: 80px;border-radius: 10%;width: 100px;
        }
      